body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body,
header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.locations-clmn {
    display: flex;
    flex-direction: column;
    width: 15%;
    border: 1px solid#000;
}

.locations-clmn .title-bar {
    height: 15%;
    border: 1px solid #000;
}

.locations-clmn .search-sct {
    height: 12%;
    border: 1px solid #000;
}

.locations-clmn .locations-sct {
    height: 75%;
    border: 1px solid #000;
}

.locations-clmn .location-itm {
    height: 12%;
    border: 1px solid #000;
}

.map-clmn {
    display: flex;  
    flex-direction: column;  
    width: 85%;
    border: 1px solid #000;
}

.map-clmn .header-sct{
    height: 14.4%;
    border: 1px solid #000;
}

.map-clmn #map {
    height: 86%;
    border: 1px solid #000;
}